# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.RiAT.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\3 курс НИУ ВШЭ\РиАТ\Program\RiAT\.idea\.idea.RiAT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
